@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.footer {
  padding-bottom: 2rem;

  &__grid {
    text-align: center;
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 2rem;
    padding: 5rem 0;
    @include m.tablet {
      @include m.grid(3, 2rem);
    }
  }

  &__heading {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: v.$red500;
  }

  &__text {
    color: v.$red500;
  }

  &__link {
    color: v.$red500;
  }
}